<app-template-header></app-template-header>   <!-- import header template -->
<div class="list-view">

    <h4 (click)="toDoShow=!toDoShow">Open <span>( {{$todos.length}} )</span></h4>
    <div *ngIf="toDoShow" class="todo-elements">
        <app-template-todo (ping)="update($event)" [toDo$]="toDo" *ngFor="let toDo of $todos"></app-template-todo>
        <!--
        [_toDo$] ... Component property binding!
        (https://angular.io/guide/binding-syntax)
        (https://angular.io/guide/inputs-outputs)
        Parent sends data to child

        (ping) ...event-binding: (target_event_name)="template_statement()
        the "event" variable also is the payload from ping.emit(eventObject);
        child to parent
        -->
    </div>

    <app-template-todo-form (ping)="create($event)" ></app-template-todo-form>

    <h4 (click)="toDoDoneShow=!toDoDoneShow">Done <span>( {{$todosdone.length}} )</span></h4>
    <div *ngIf="toDoDoneShow" class="todo-elements">
        <app-template-todo (ping)="update($event)" [toDo$]="toDoDone" *ngFor="let toDoDone of $todosdone"></app-template-todo>
    </div>

</div>
